@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    font-family: Roboto;
    font-size: 18px;
    color: white;
    background-color: #1F2937;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .section1, .section2, .section3, .section4, .footer {
    padding-left: 48px;
    padding-right: 48px;
}


/* This is the header */
.header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.left {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.right {
    font-size: 18px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

/* This is section 1 */

.section1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    background-color: #1F2937;
}

.leftPart {
    width: 450px;
}

.rightPart {
    width: auto;
}

.mainTitle {
    display: flex;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.titleText {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.imageSect1 {
    font-size: 36px;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #cdd7eb7a;
}

.tButton {
    background-color: #3882F6;
    color: #F9FAF8;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* This is section 2 */

.section2 {
    background-color: #F9FAF8;
    color: #1F2937;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.sectionHeader {
    font-size: 36px;
    font-weight: 900;
    padding: 20px;
}

.section2Content {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.entry {
    max-width: 150px;
}

.entry .text {
    padding-top: 6px;
    text-align: center;
    font-size: 16px;
}

.entry img {
    width: 150px;
    height: 150px;
    font-size: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #cdd7eb7a;
    border-radius: 6px;
    border-style: solid;
    border-color: #3882F6;
}

/* This is section 3 */

.section3 {
    color: #1F2937;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    width: 800px;
    font-size: 34px;
    font-style: italic;
    font-weight: 300;
}

.signature {
    font-size: 24px;
    font-weight: 700;
    text-align: right;
    font-style: normal;
}